polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.UPower.PowerProfiles.switch-profile" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
